* {
    box-sizing: border-box;
}

a:hover {
    color: #5469d4;
}

.login-root {
    background: #fff;
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    flex-direction: column;
    padding-top: 50px;
    flex-grow:1
}

.signInTitle {
    padding-bottom: 15px;
}

.formbg {
    margin: 0px auto;
    width: 100%;
    max-width: 448px;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
    padding: 48px;
}


span {
    display: block;
    font-size: 20px;
    line-height: 28px;
    font-weight: bolder;
}

label {
    margin-bottom: 10px;
}
.reset-pass a,label {
    font-size: 14px;
    font-weight: 600;
    display: block;
}

.field input {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border-radius: 8px;
}

.field{
    padding-bottom: 24px;
}

input[type="submit"] {
    color: white;
    font-weight: 600;
    cursor: pointer;
    background-color: black;
}

input[type="submit"]:hover {
    color: black;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
}

.footer-link span {
    font-size: 14px;
    text-align: center;
    padding-top: 24px
}


.jump{
    border: none;
    background-color: white;
    cursor: pointer;
    text-decoration-line: underline;
}

.jump:hover{
    border: none;
    background-color: white;
    cursor: pointer;
    text-decoration-line: underline;
    color: #5469d4;
}
